<template>
    <div class="block">
        <div class="container">
            <p class="title is-4">Inscrire un client</p>

            <!-- Formulaire d'inscription -->
            <div class="form container box">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Nom commercial</label>
                            <div class="control">
                                <input name="nom-commercial" class="input" type="text" placeholder="ex : Auchan V2">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Nom juridique</label>
                            <div class="control">
                                <input name="nom-juridique" class="input" type="text" placeholder="ex : SA Dupont">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Numéro du compte</label>
                            <div class="control">
                                <input name="numero-compte" class="input" type="text" placeholder="ex : 4010002">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Siret</label>
                            <div class="control">
                                <input name="siret" class="input" type="text" placeholder="ex : 802 954 785 00028">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Adresse</label>
                            <div class="control">
                                <input name="adresse" class="input" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>


                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Ville</label>
                            <div class="control">
                                <input name="ville" class="input" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Code Postal</label>
                            <div class="control">
                                <input name="code-postal" class="input" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Téléphone</label>
                            <div class="control">
                                <input name="telephone" class="input" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">FAX</label>
                            <div class="control">
                                <input name="fax" class="input" type="email">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input name="email" class="input" type="email">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Secteur</label>
                            <div class="control">
                                <input name="secteur" class="input" type="text" placeholder="ex : Restauration">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Valider</button>
                    </div>
                    <div class="control">
                        <button class="button is-text">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'inscrire-client'
}
</script>

<style scoped>
.block {
    background-color: rgba(226, 237, 243, 0.829);
}
</style>