<template>
  <div class="block">
    <div class="container">
      <p class="title is-4">Mes clients / prospects</p>
      <div class="field">
        <div class="control">
          <div class="columns">
            <div class="column">
              <input type="text" class="input" placeholder="Rechercher par un contact">
            </div>
            <div class="column"></div>
            <a v-link="'/InfoClient'" class="button has-text-right">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="#000000"
                  d="M15,14C12.33,14 7,15.33 7,18V20H23V18C23,15.33 17.67,14 15,14M6,10V7H4V10H1V12H4V15H6V12H9V10M15,12A4,4 0 0,0 19,8A4,4 0 0,0 15,4A4,4 0 0,0 11,8A4,4 0 0,0 15,12Z"
                ></path>
              </svg>Nouveau contact
            </a>
          </div>
        </div>
      </div>

      <div class="table-clients">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <tr class="title is-6">
            <td>Nom Commercial</td>
            <td>Nom juridique</td>
            <td>Prospect</td>
            <td>Adresse</td>
            <td>Ville</td>
            <td>CP</td>
            <td>Téléphone</td>
            <td>Email</td>
            <td>Secteur</td>
            <td>Voir</td>
          </tr>
          <tr>
            <td>
              <input type="text" class="input">
            </td>
            <td>
              <input type="text" class="input">
            </td>
            <td>
              <div class="select">
                <select name id></select>
              </div>
            </td>
            <td>
              <input type="text" class="input">
            </td>
            <td>
              <input type="text" class="input">
            </td>
            <td>
              <input type="text" class="input">
            </td>
            <td></td>
            <td>
              <input type="text" class="input">
            </td>
            <td>
              <input type="text" class="input">
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td>Auchan Roncq</td>
            <td>sa coppin</td>
            <td>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path
                  fill="dodgerblue"
                  d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
                ></path>
              </svg>
            </td>
            <td>10 rue des accacias</td>
            <td>RONCQ</td>
            <td>59223</td>
            <td>0320000000</td>
            <td>contact@auchan.fr</td>
            <td>Grande distribution</td>
            <td>
              <a>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path
                    fill="dodgerblue"
                    d="M9,13A3,3 0 0,0 12,16A3,3 0 0,0 15,13A3,3 0 0,0 12,10A3,3 0 0,0 9,13M20,19.59V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18C18.45,22 18.85,21.85 19.19,21.6L14.76,17.17C13.96,17.69 13,18 12,18A5,5 0 0,1 7,13A5,5 0 0,1 12,8A5,5 0 0,1 17,13C17,14 16.69,14.96 16.17,15.75L20,19.59Z"
                  ></path>
                </svg>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import InfoClient from "./InfoClient/InfoClient.vue";
import InscrireClient from "./InscrireClient/InscrireClient.vue";

export default {
  name: "clients",
  components: { InfoClient, InscrireClient },
  data() {
    return {};
  }
};
</script>

<style scoped>
.block {
  background-color: rgba(226, 237, 243, 0.829);
}
</style>

