<template>
  <div id="app">
    <navbar></navbar>
    <clients></clients>
  </div>
</template>

<script>
import Navbar from './components/Navbar/Navbar.vue'
import Clients from './components/Clients/Clients.vue'

export default {
  name: 'app',
  components : {Navbar, Clients},
  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
</style>
