<template>
  <div class="block">
        <div class="container">
            <a class="block button">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="dodgerblue" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                </svg>
                <p class="title is-5">Retour</p>
            </a>
            <div class="block buttons has-addons">
                <span class="button is-selected"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="white" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                    </svg>Information</span>
                <span class="button"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M13,3A9,9 0 0,0 4,12H1L4.89,15.89L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3M12,8V13L16.28,15.54L17,14.33L13.5,12.25V8H12Z" />
                    </svg>Historique</span>
            </div>

            <div class="block">
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <div class="columns">
                                <div class="column">
                                    <div class="nom">
                                        <div class="title is-6">AUCHAN - AUCHAN</div>
                                        <div>N° du compte : 4010002</div>
                                        <div>Siret :</div>
                                        <div>Secteur :</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="infos-contact">
                                        <div class="title is-6">Infos contact :</div>
                                        <div>Téléphone :</div>
                                        <div>FAX :</div>
                                        <div>Email :</div>
                                        <div>Site web :</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="adresse">
                                        <div class="title is-6">Adresse :</div>
                                        <div>AUCHAN</div>
                                        <div>8 bld Flandres</div>
                                        <div>59460 - MOUVEAUX</div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="commentaire">
                                        <div class="title is-6">Commentaire :</div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="info-reglements">
                                        <div class="title is-6">Informations réglements :</div>
                                        <div>Code APE :</div>
                                        <div>Mode réglement : Virement</div>
                                        <div>Délai de paiement : 60FDM</div>
                                        <div>N° TVA : </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="facturation">
                                        <div class="title is-6">Facturation :</div>
                                        <div>AUCHAN fac</div>
                                        <div>8 bld Flandres fac</div>
                                        <div>59460 - MOUVEAUX</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <img src="/assets/map.png" alt="carte">
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <div class="title is-5" style="color: black;">Contacts</div>
                            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                <tr class="title is-6">
                                    <td>Civilité</td>
                                    <td>Nom</td>
                                    <td>Prénom</td>
                                    <td>Fonction</td>
                                    <td>Téléphone fixe</td>
                                    <td>Portable</td>
                                    <td>Email</td>
                                    <td>Adresse</td>
                                </tr>
                                <tr>
                                    <td>Monsieur</td>
                                    <td>Durand</td>
                                    <td>Jean</td>
                                    <td>Directeur communication</td>
                                    <td></td>
                                    <td></td>
                                    <td>jean.durand@auchan.com</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Madame</td>
                                    <td>Dupont</td>
                                    <td>Céline</td>
                                    <td>Marketing</td>
                                    <td></td>
                                    <td></td>
                                    <td>celine.dupont@auchan.fr</td>
                                    <td></td>
                                </tr>
                            </table>
                            <p class="help has-text-centered">Nombre de résultats : 2</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <div class="title is-5" style="color: black;">Contacts</div>
                            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                <tr class="title is-6">
                                    <td>Code</td>
                                    <td>Etat</td>
                                    <td>Date commande</td>
                                    <td>Montant HT</td>
                                </tr>
                                <tr>
                                    <td>C01T17100000</td>
                                    <td>Facturée</td>
                                    <td>02/10/2017</td>
                                    <td>2 500,00</td>
                                </tr>
                                <tr>
                                    <td>C01T17100000</td>
                                    <td>Facturée</td>
                                    <td>02/10/2017</td>
                                    <td>2 500,00</td>
                                </tr>
                                <tr>
                                    <td>C01T17100000</td>
                                    <td>Facturée</td>
                                    <td>02/10/2017</td>
                                    <td>2 500,00</td>
                                </tr>
                                <tr>
                                    <td>C01T17100000</td>
                                    <td>Facturée</td>
                                    <td>02/10/2017</td>
                                    <td>2 500,00</td>
                                </tr>
                                <tr>
                                    <td>C01T17100000</td>
                                    <td>Facturée</td>
                                    <td>02/10/2017</td>
                                    <td>2 500,00</td>
                                </tr>
                            </table>
                            <p class="help has-text-centered">Nombre de résultats : 5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'info-client'
}
</script>

<style scoped>
.block {
    background-color: rgba(226, 237, 243, 0.829);
}

.is-selected {
    background-color: rgba(87, 102, 134, 0.911);
    color: aliceblue;
}

.title.is-5 {
    color: rgba(87, 102, 134, 0.911);
}
</style>

