<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Mon catalogue</a>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Mes clients / prospects</a>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Mon historique</a>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path
              fill="aliceblue"
              d="M17,18A2,2 0 0,1 19,20A2,2 0 0,1 17,22C15.89,22 15,21.1 15,20C15,18.89 15.89,18 17,18M1,2H4.27L5.21,4H20A1,1 0 0,1 21,5C21,5.17 20.95,5.34 20.88,5.5L17.3,11.97C16.96,12.58 16.3,13 15.55,13H8.1L7.2,14.63L7.17,14.75A0.25,0.25 0 0,0 7.42,15H19V17H7C5.89,17 5,16.1 5,15C5,14.65 5.09,14.32 5.24,14.04L6.6,11.59L3,4H1V2M7,18A2,2 0 0,1 9,20A2,2 0 0,1 7,22C5.89,22 5,21.1 5,20C5,18.89 5.89,18 7,18M16,11L18.78,6H6.14L8.5,11H16Z"
            ></path>
          </svg>
          <a class="panier">Panier (0)</a>
        </div>
        <div class="navbar-item">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path
              fill="aliceblue"
              d="M16.56,5.44L15.11,6.89C16.84,7.94 18,9.83 18,12A6,6 0 0,1 12,18A6,6 0 0,1 6,12C6,9.83 7.16,7.94 8.88,6.88L7.44,5.44C5.36,6.88 4,9.28 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12C20,9.28 18.64,6.88 16.56,5.44M13,3H11V13H13"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "navbar"
};
</script>

<style lang="css" scoped>
.navbar {
  background-color: rgba(7, 11, 29, 0.794);
  color: aliceblue;
}

.burger,
a,
navbar-dropdown,
.navbar-link::after,
.panier {
  border-color: aliceblue;
  color: aliceblue;
}
</style>

